<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sys.client.SysAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.sys.model.SysAttachment" >
    <id column="RECID" property="recid" jdbcType="VARCHAR" />
    <result column="MODULE" property="module" jdbcType="VARCHAR" />
    <result column="BUSINESSID" property="businessid" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATER" property="creater" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATER" property="updater" jdbcType="VARCHAR" />
    <result column="ATTACHMENT_SIZE" property="attachmentSize" jdbcType="DECIMAL" />
    <result column="SUFFIX" property="suffix" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RECID, MODULE, BUSINESSID, TYPE, NAME, PATH, NOTE, CREATE_TIME, CREATER, UPDATE_TIME, 
    UPDATER, ATTACHMENT_SIZE, SUFFIX
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sys.model.SysAttachmentExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_ATTACHMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYS_ATTACHMENT
    where RECID = #{recid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYS_ATTACHMENT
    where RECID = #{recid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.sys.model.SysAttachmentExample" >
    delete from SYS_ATTACHMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sys.model.SysAttachment" >
    insert into SYS_ATTACHMENT (RECID, MODULE, BUSINESSID, 
      TYPE, NAME, PATH, NOTE, 
      CREATE_TIME, CREATER, UPDATE_TIME, 
      UPDATER, ATTACHMENT_SIZE, SUFFIX
      )
    values (#{recid,jdbcType=VARCHAR}, #{module,jdbcType=VARCHAR}, #{businessid,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR}, #{attachmentSize,jdbcType=DECIMAL}, #{suffix,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sys.model.SysAttachment" >
    insert into SYS_ATTACHMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recid != null" >
        RECID,
      </if>
      <if test="module != null" >
        MODULE,
      </if>
      <if test="businessid != null" >
        BUSINESSID,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="path != null" >
        PATH,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="creater != null" >
        CREATER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updater != null" >
        UPDATER,
      </if>
      <if test="attachmentSize != null" >
        ATTACHMENT_SIZE,
      </if>
      <if test="suffix != null" >
        SUFFIX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recid != null" >
        #{recid,jdbcType=VARCHAR},
      </if>
      <if test="module != null" >
        #{module,jdbcType=VARCHAR},
      </if>
      <if test="businessid != null" >
        #{businessid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="attachmentSize != null" >
        #{attachmentSize,jdbcType=DECIMAL},
      </if>
      <if test="suffix != null" >
        #{suffix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sys.model.SysAttachmentExample" resultType="java.lang.Integer" >
    select count(*) from SYS_ATTACHMENT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_ATTACHMENT
    <set >
      <if test="record.recid != null" >
        RECID = #{record.recid,jdbcType=VARCHAR},
      </if>
      <if test="record.module != null" >
        MODULE = #{record.module,jdbcType=VARCHAR},
      </if>
      <if test="record.businessid != null" >
        BUSINESSID = #{record.businessid,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.path != null" >
        PATH = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        NOTE = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creater != null" >
        CREATER = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updater != null" >
        UPDATER = #{record.updater,jdbcType=VARCHAR},
      </if>
      <if test="record.attachmentSize != null" >
        ATTACHMENT_SIZE = #{record.attachmentSize,jdbcType=DECIMAL},
      </if>
      <if test="record.suffix != null" >
        SUFFIX = #{record.suffix,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_ATTACHMENT
    set RECID = #{record.recid,jdbcType=VARCHAR},
      MODULE = #{record.module,jdbcType=VARCHAR},
      BUSINESSID = #{record.businessid,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      PATH = #{record.path,jdbcType=VARCHAR},
      NOTE = #{record.note,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATER = #{record.creater,jdbcType=VARCHAR},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      UPDATER = #{record.updater,jdbcType=VARCHAR},
      ATTACHMENT_SIZE = #{record.attachmentSize,jdbcType=DECIMAL},
      SUFFIX = #{record.suffix,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sys.model.SysAttachment" >
    update SYS_ATTACHMENT
    <set >
      <if test="module != null" >
        MODULE = #{module,jdbcType=VARCHAR},
      </if>
      <if test="businessid != null" >
        BUSINESSID = #{businessid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        CREATER = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        UPDATER = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="attachmentSize != null" >
        ATTACHMENT_SIZE = #{attachmentSize,jdbcType=DECIMAL},
      </if>
      <if test="suffix != null" >
        SUFFIX = #{suffix,jdbcType=VARCHAR},
      </if>
    </set>
    where RECID = #{recid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sys.model.SysAttachment" >
    update SYS_ATTACHMENT
    set MODULE = #{module,jdbcType=VARCHAR},
      BUSINESSID = #{businessid,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PATH = #{path,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATER = #{creater,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATER = #{updater,jdbcType=VARCHAR},
      ATTACHMENT_SIZE = #{attachmentSize,jdbcType=DECIMAL},
      SUFFIX = #{suffix,jdbcType=VARCHAR}
    where RECID = #{recid,jdbcType=VARCHAR}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_   where rownum <= #{page.end} ) where rownum_ > #{page.begin} ]]>
    </if>
  </sql>
</mapper>