/******************系统统一风格***************/

/**
 *系统皮肤颜色-标题区域颜色
 */
.sys-skin {
	background-color:#555;
	color:#FFF;
}

/**
 *系统皮肤颜色-区域分割线颜色
 */
.sys-border-right {
	border-right:2px solid #555;
}

/**
 *管理页标题栏样式
 */
.sys-manage-title {
	position:fixed;
	left:0px;
	right:0px;
	z-index:600;
	height:30px;
	line-height: 30px;
}

/**
 *管理页内容区样式
 */
.sys-manage-body {
	padding-top:30px;
}

/**
 *管理页内容区-搜索条件区域样式
 */
.sys-manage-body-search {
	padding-top:10px;
}

/**
 *搜索条件区-label样式
 */
.sys-search-label {
	line-height: 34px;
	padding-right:0px;
	text-align:right;
	margin:5px 0px;
}

/**
 *搜索条件区-input样式
 */
.sys-search-input {
	margin:5px 0px;
}

/********************自定义样式***********************/

/**
 *自定义panel样式
 */
.cust-panel {
 	border: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
	margin:0px;
}

/**
 *自定义panel-heading样式
 */
.cust-panel-heading {
	border-radius: 0px;
}

/*****************控件样式系统重新定义******************/

/**
 *错误提醒的字体颜色
 */
.error{
	color:red;
}